.portfolio-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio-card {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.portfolio-img-wrapper {
  border-radius: 1.25rem;
  overflow: hidden;
  display: block;
}

.portfolio-img {
  transition: transform 0.3s ease;
}

.portfolio-card:hover .portfolio-img {
  transform: scale(1.2);
}

.portfolio-title {
  font-size: var(--large-font-size);
  margin-block: 1.5rem 0.5rem;
}

.portfolio-description {
  font-size: var(--small-font-size);
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.link-icon {
  font-size: 1.25rem;
}
